# Arquivos de ajuda / documentação temporária
HELP.md

# Maven
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Gradle (se alguém abrir com suporte a Gradle)
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Eclipse / Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Compilação temporária
bin/
out/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos de backup temporários
*~
*.swp
